<!DOCTYPE html>
<html>
<body>
{% trans %}Hello{% endtrans %} {{ affiliate_user }}, 
<br /><br />
{% trans %}Your password has been changed. To login to your account, use the following login credentials:{% endtrans %}
<br /><br />
<a href="{{ dashboard_url }}">{{ dashboard_url }}</a> 
<br /><br />
{% trans %}E-mail{% endtrans %}: {{ affiliate_user.email }}<br /> 
{% trans %}Password{% endtrans %}: {{ new_password }} 
<br /><br />
{% trans %}Sincerely,{% endtrans %} 
<br /><br />
any.TV 
<br /><br /><br /><br />
{% trans %}This e-mail has been sent from an e-mail address that is not monitored.{% endtrans %}<br />
{% trans %}Please do not reply to this message. We are unable to respond to any replies.{% endtrans %} 
</body>
</html>


