{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}


<section id="content">
    <div class="container">
      <div id="con-body" class="row">
        <div class="col-lg-12 al-mid">
          <h3>{{ title }}</h3>
          <div class="cl-20"></div>
        </div>
        <div class="col-lg-3"> </div>
        <div class="col-lg-6">        
          <div class="panel panel-default lgin-panel">
            <div class="panel-body">
                {% if(password_reset) %}
                  <p>{% trans %}Your password has been changed and emailed to the associated email address. Please check your E-mail inbox for further instructions.{% endtrans %}</p>
                {% else %}
                  <p>{% trans %}To request resetting this account password, please fill out the form below.{% endtrans %}</p>
                  <div class="cl-20"></div>
                  {% for error in errors %}
        <div class="alert alert-danger alert-dismissable" id="forgot_password_error">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{ error }}</strong>
        </div>
      {% endfor %}
          
      {{ form_start(form, { 'action': path('forgot_password'), 'method': 'POST', 'class': 'form-signin' }) }}    
      <div class="well">
      {{ form_errors(form) }}
      {{ form_row(form.email, {'attr': {'class': 'form-control input-lg brdrrad-0'}}) }}      
      <div class="cl-20"></div>
      {{ form_row(form.lookup, {'attr': {'class': 'btn btn-lg btn-primary btn-block', 'onclick': '$("#forgot_password_error").hide("slow");' }}) }}
      {{ form_end(form) }}
      </div>
                {% endif %}
                
    
      
                                            
                                        
					
                                            
                                            </div>
				</div>
			</div>
        </div>
			</div>
		</section>


    
    	
     
     

      

      {{ parent() }}
    
{% endblock %}
     


