{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        
          
          <h1 class="title">{{ title|upper }}</h1>
    
    <p>&nbsp;</p>
    <div style="margin-bottom: 20px">
      {{ form_start(form, {'action': path('traffic_referrals'), 'method': 'POST'}) }}
         {{ form_errors(form) }}
         {{ form_errors(form.traffic_referral_date) }}
         {{ form_widget(form.traffic_referral_date, {'attr': {'class': 'traffic_referral_date_field'}}) }}
         {{ form_widget(form.run_report) }}
       {{ form_end(form) }}
    </div>

    
      <table border="1" cellspacing="15" cellpadding="15">
        <tr>
         <th>Affiliate</th>
         <th>Offer</th>
         <th>URL</th>
         <th>Count</th>
         <th>Clicks</th>
         <th>Conversions</th>
         <th>Stat Date</th>
       </tr>
       {% for traffic_referral in traffic_referrals %}
         <tr>
           <td>
           {% if(traffic_referral.affiliate) %}
             <a href="{{ path('affiliate_view', { 'id' : traffic_referral.affiliate.id }) }}" title="{{ traffic_referral.affiliate }}">{{ traffic_referral.affiliate }}</a>
           {% else %}
             &nbsp;
           {% endif %}
           </td>
           <td>
           {% if(traffic_referral.offer) %}
             <a href="{{ path('offer_view', { 'id' : traffic_referral.offer.id }) }}" title="{{ traffic_referral.offer }}">{{ traffic_referral.offer }}</a>
           {% else %}
             &nbsp;
           {% endif %}
           </td>
           <td><a href="{{ traffic_referral.url }}" target="_blank" title="{{ traffic_referral.url }}">{{ traffic_referral.url|slice(0, 60) }}</a></td>
           <td>{{ traffic_referral.count }}</td>
           <td>{{ traffic_referral.clicks }}</td>
           <td>{{ traffic_referral.conversions }}</td>
           <td>{{ traffic_referral.getStatDateAsString() }}</td>
         </tr>
       {% endfor %} 
      </table>
       
    
      {% if (total_pages > 1) %}
        <ul class="pagination">
        {% if(page > 1) %}
          <li><a href="{{ path('traffic_referrals', {'page':(page-1)}) }}"  title="{{ (page-1) }}">&laquo;</a></li>
        {% endif %}
        {% for i in 1..total_pages if((page-i)|abs < 8) %}
          {% if(page == i) %}
            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="{{ path('traffic_referrals', {'page':i}) }}" title="{{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if(page < total_pages) %}
          <li><a href="{{ path('traffic_referrals', {'page':(page+1)}) }}" title="{{ (page+1) }}">&raquo;</a></li>
        {% endif %}
        </ul>
      {% endif %}
          
      <div class="cl-20"></div>
      </div>
      
		</div>
	</div>
</section>

    {{ parent() }}
    
        
    
{% endblock %}
