{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <section id="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            	
              <h1 class="title">{{ title|upper }}</h1>
    
    <p>&nbsp;</p>
    <div style="margin-bottom: 20px">
      {% if(app.session.get('offer_group_keyword')) %}
        <a href="{{ path('offer_groups_reset') }}">reset</a>
      {% endif %}
      {{ form_start(form, {'action': path('offer_groups'), 'method': 'POST'}) }}
         {{ form_errors(form) }}
         {{ form_errors(form.offer_group_keyword) }}
         {{ form_widget(form.offer_group_keyword) }}
         {{ form_label(form.offer_group_status) }}
         {{ form_errors(form.offer_group_status) }}
         {{ form_widget(form.offer_group_status) }}
         {{ form_widget(form.offer_group_search) }}
         
       {{ form_end(form) }}
    </div>

    
      <table border="1" cellspacing="15" cellpadding="15">
        <tr>
         <th>ID</th>
         <th>{% trans %}Name{% endtrans %}</th>
         <th>{% trans %}Status{% endtrans %}</th>
         <th>{% trans %}Offer Count{% endtrans %}</th>
         <th>{% trans %}Thumbnail{% endtrans %}</th>
       </tr>
       {% for offer_group in offer_groups %}
         <tr>
           <td>{{ offer_group.offerGroupId }}</td>
           <td><a href="{{ path('offer_group_view', { 'id' : offer_group.id }) }}" title="{{ offer_group }}">{{ offer_group }}</a></td>
           <td>{{ offer_group.status }}</a></td>
           <td>{{ offer_group.offerCount }}</a></td>
           <td>
           {% if(offer_group.thumbnail) %}
             <img src="{{ asset(offer_group.getWebPath()) | apply_filter('offer_group_thumbnail') }}" alt="{{ offer_group }}"/>
           {% else %}
             &nbsp;
           {% endif %}
           </td>
         </tr>
       {% endfor %} 
      </table>
       
      {% if (total_pages > 1) %}
        <ul class="pagination">
        {% for i in 1..total_pages %}
          {% if(page == i) %}
            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="{{ path('offer_groups', {'page':i}) }}" title="{{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
              
            <div class="cl-20"></div>
          </div>
	</div>
      </div>
    </section>

    {{ parent() }}
    
        
    
{% endblock %}
