{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <em><a href="{{ path('offer_group_edit', { 'id' : offer_group.id }) }}" title="{% trans %}Edit{% endtrans %}">{% trans %}edit{% endtrans %}</a></em>

    <h1 class="title">{{ title }}<p>dashboard.tm ID: {{ offer_group.offerGroupId }} - ({{ offer_group_status }})</p></h1>
    
    {% if(offer_group.thumbnail) %}
      <img src="{{ asset(offer_group.getWebPath()) | apply_filter('featured_offer') }}" alt="{{ offer_group }}"/>
    {% endif %}
    
    
      
            
      {% if(offers|length) %}
        <h2>{% trans %}Offers{% endtrans %}:</h2>
        <ul>
          {% for offer in offers %}
            <li style="display:block">
              <a href="{{ path('offer_view', { 'id' : offer.id }) }}" title="{{ offer }}">{{ offer }}</a> ({{ offer.status }})
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
      <div class="cl-20"></div>
      </div>
      
		</div>
	</div>
</section>

    {{ parent() }}
    
      
        
    
{% endblock %}
