{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div id="content">
  <div id="dboard-wrap">   
    <section class="sec-content-title">
      <div class="container">
        <div style="float: left;"><h3>{{ title }} ({{ offer_group.offerGroupId }}) - {{ offer_group_status }}</h3></div>
	<div style="float: right;"><em><a href="{{ path('offer_group_edit', { 'id' : offer_group.id }) }}" class="btn btn-default" title="{% trans %}Edit{% endtrans %}">{% trans %}edit{% endtrans %}</a></em></div>
      </div>
    </section>
      
    <section class="db-slide-1">
      <div class="container">
        <div class="row">
            
            <div class="cl-20"></div>                                                                     
      <hr>
          
    {% if(offer_group.thumbnail) %}
      <img src="{{ asset(offer_group.getWebPath()) | apply_filter('featured_offer') }}" alt="{{ offer_group }}"/>
    {% endif %}
      
    {% if(offers|length) %}
      <div class="cl-20"></div>
      <hr>
        <h2>Offers ({{offers|length}}):</h2>
          <div class="table-responsive">
	    <div class="offer-tbl-wrap">
	      <table class="table table-striped">                                                                        
                <thead>
        <tr>
         <th>{% trans %}Name{% endtrans %}</th>
         <th>{% trans %}Status{% endtrans %}</th>
       </tr>
        </thead>
        <tbody>
        
        {% for offer in offers %}
            <tr>
                <td><a href="{{ path('offer_view', { 'id' : offer.id }) }}" title="{{ offer }}">{{ offer }}</a></td>
                <td>{{ offer.status }}</td>
            </tr>
          {% endfor %}
            
            </tbody>
        </table>
                </div>
              </div>
      {% endif %}
            
      
      <div class="cl-20"></div>
      </div>
      
		</div>

			</section>

		</div>
	</div>

    {{ parent() }}
    
        
    
{% endblock %}