{% extends 'AnytvMainBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <h1 class="title">{{ title|upper }}</h1>
    
    <p>&nbsp;</p>

    <div class="symfony-blocks-welcome">
       
       {{ form_start(form, {'action': path('news_category_add'), 'method': 'POST'}) }}
          <div>
           {{ form_errors(form) }}
         </div>
         <div>
          {{ form_label(form.name) }}
          {{ form_errors(form.name) }}
          {{ form_widget(form.name, {'attr': {'class': 'news_category_name_field'}}) }}
         </div>
         {{ form_row(form.description) }}
       {{ form_end(form) }}
    </div>

    <div class="symfony-blocks-help">
        
       
    </div>
{% endblock %}
