{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <h1 class="title">{{ title|upper }}</h1>
    
    <p>&nbsp;</p>
    <div style="margin-bottom: 20px">
      {{ form_start(form, {'action': path('advertisers'), 'method': 'POST'}) }}
         {{ form_errors(form) }}
         {{ form_widget(form.advertisers_update) }}
       {{ form_end(form) }}
    </div>

    <div class="symfony-blocks-welcome">
      <table border="1" cellspacing="15" cellpadding="15">
        <tr>
         <th>Id</th>
         <th>{% trans %}Advertiser{% endtrans %} Id</th>
         <th>{% trans %}Company{% endtrans %}</th>
         <th>{% trans %}Address{% endtrans %}</th>
         <th>{% trans %}City{% endtrans %}</th>
         <th>{% trans %}Region{% endtrans %}</th>
         <th>{% trans %}Country{% endtrans %}</th>
         <th>{% trans %}Status{% endtrans %}</th>
         <th>{% trans %}Date Added{% endtrans %}</th>
         <th>{% trans %}Date Modified{% endtrans %}</th>
       </tr>
       {% for advertiser in advertisers %}
         <tr>
           <td>{{ advertiser.id }}</td>
           <td>{{ advertiser.advertiserId }}</td>
           <td><a href="{{ path('advertiser_view', { 'id' : advertiser.id }) }}" title="Edit">{{ advertiser.company }}</a></td>
           <td>{{ advertiser.address1 }}{{ advertiser.address2 }}</td>
           <td>{{ advertiser.city }}</td>
           <td>{{ advertiser.region }}</td>
           {% if(advertiser.country) %}
             <td><a href="{{ path('country_view', { 'id' : advertiser.country.id }) }}" title="{% trans %}View{% endtrans %}">{{ advertiser.country }}</a></td>
           {% else %}
             <td>&nbsp;</td>
           {% endif %}
           <td>{{ advertiser.status }}</td>
           <td>{{ advertiser.getDateAddedAsString }}</td>
           <td>{{ advertiser.getDateModifiedAsString() }}</td>
         </tr>
       {% endfor %} 
      </table>
       
     
        
    </div>

    <div class="symfony-blocks-help">
        
       
    </div>
{% endblock %}
