{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div id="content">
  <div id="dboard-wrap">   
    <section class="sec-content-title">
      <div class="container">
        <div style="float: left;"><h3>{{ title|upper }}</h3></div>
	<div style="float: right;">&nbsp;</div>
      </div>
    </section>
      
    <section class="db-slide-1">
      <div class="container">
        <div class="row">
    
      <div class="cl-20"></div>
	  <hr>
          <div class="table-responsive">
	    <div class="offer-tbl-wrap">

    {% if(signup_answers) %}
      <table class="table table-striped">                                                                        
                <thead>
        <tr>
         <th>{% trans %}Affiliate{% endtrans %}</th>
         <th>{% trans %}Question{% endtrans %}</th>
         <th>{% trans %}Answer{% endtrans %}</th>
       </tr>
       </thead>
                <tbody>
       {% for signup_answer in signup_answers %}
         <tr>
           {% if(signup_answer.affiliate.company) %}
             <td><a href="{{ path('affiliate_view', { 'id' : signup_answer.affiliate.id }) }}" title="">{{ signup_answer.affiliate }}</a></td>
           {% else %}
             <td><a href="{{ path('affiliate_view', { 'id' : signup_answer.affiliate.id }) }}" title="">---</a></td>
           {% endif %}
           <td>{{ signup_answer.question }}</a></td>
           <td>{{ signup_answer.answer }}</td>
         </tr>
       {% endfor %} 
         </tbody>
                    
                    {% if (total_pages > 1) %}
        <tfoot>
	  <tr>
	    <td class="al-cntr" colspan="8">
	      <ul class="pagination">
                  {% if(page > 1) %}
          <li><a href="{{ path('signup_answers', {'page':(page-1)}) }}"  title="{{ (page-1) }}">&laquo;</a></li>
        {% endif %}
        {% for i in 1..total_pages if((page-i)|abs < 8) %}
          {% if(page == i) %}
            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="{{ path('signup_answers', {'page':i}) }}" title="{{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if(page < total_pages) %}
          <li><a href="{{ path('signup_answers', {'page':(page+1)}) }}" title="{{ (page+1) }}">&raquo;</a></li>
        {% endif %}
        </ul>
        </td>
        </tr>
      </tfoot>
      {% endif %}
      </table>
       
     
      
          
   {% endif %}       
     </div>
						</div>
					</div>
				</div>

			</section>

		</div>
	</div>

    {{ parent() }}
    
        
    
{% endblock %}

