{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Login{% endtrans %}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    
{% if(false and app.debug) %}
  <section id="content">
    <div class="container">
      <div id="con-body" class="row">
        <div class="col-lg-5">
            <div class="panel panel-default lgin-panel">
              <div class="panel-heading">
                <h3 class="panel-title"><strong>{% trans %}Dashboard{% endtrans %} {% trans %}Debug Login{% endtrans %}</strong></h3>
              </div>
              <div class="panel-body">
                {% if (error) %}
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ error }}</strong>
                </div>
                {% endif %}
                <form action="{{ path('login_check') }}" method="post" class="form-signin" id="login_form">
                    <p><strong>{% trans %}Email{% endtrans %}</strong></p>
                    <input type="text" id="username" name="_username" value="{{ username }}" class="form-control brdrrad-0" autofocus>
                    <div class="cl-20"></div>
                    <p style="float: left"><strong>{% trans %}Password{% endtrans %}</strong></p><span class="frgot-lnk"></span>
                    <input type="password" id="password" name="_password" class="form-control brdrrad-0">
                    <div class="cl-20"></div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block"><strong>{% trans %}Login{% endtrans %}</strong></button>       
                </form>
                <div class="brdr-h"></div>
              </div>
            </div>
        </div>
          
        </div>
      </div>
 </section>   
{% endif %}

{% if(form_action == 'login_hasoffers') %}
  <section id="content">
    <div class="container">
      <div id="con-body" class="row">
        <div class="col-lg-5">
            <div class="panel panel-default lgin-panel">
              <div class="panel-heading">
                <h3 class="panel-title"><strong>{% trans %}Dashboard{% endtrans %} {% trans %}Login{% endtrans %}</strong></h3>
              </div>
              <div class="panel-body">
                {% if (error) %}
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ error }}</strong>
                </div>
                {% endif %}
                <form action="{{ path(form_action) }}" method="post" class="form-signin" id="login_form">
                    <p><strong>{% trans %}Email{% endtrans %}</strong></p>
                    <input type="text" id="username" name="_username" value="{{ username }}" class="form-control brdrrad-0" autofocus>
                    <div class="cl-20"></div>
                    <p style="float: left"><strong>{% trans %}Password{% endtrans %}</strong></p><span class="frgot-lnk"><a href="{{ path('login')}}">{% trans %}Forgot Password?{% endtrans %}</a></span>
                    <input type="password" id="password" name="_password" class="form-control brdrrad-0">
                    <div class="cl-20"></div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block"><strong>{% trans %}Login{% endtrans %}</strong></button>       
                </form>
                <div class="brdr-h"></div>
                <p align="center">{% trans %}Don't have an account yet?{% endtrans %}</p>
                <form action="">
                  <button type="submit" class="btn btn-lg btn-primary btn-block"><strong>CREATE AN ACCOUNT</strong></button>
                </form>
              </div>
            </div>
            <p class="txt-default">View our <a href="">Privacy Policy</a></p>  
        </div>
          <div class="col-lg-7 ft-game">
          <img src="{{ asset('bundles/anytvdashboard/images/warframe-cvr1.png') }}" alt="Warframe" />
          <p><strong>Warframe</strong> Countries: 235 <em>Active</em></p>
          <p style="font-size: 13px !important; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>            
          </div>
        </div>
      </div>
 </section>   
{% else %}
  <section id="content">
    <div class="container">
      <div id="con-body" class="row">
        <div class="col-lg-5">
            <div class="panel panel-default lgin-panel" style="display:none">  
              <div class="panel-body">
                <form action="{{ path(form_action) }}" method="post" class="form-signin" id="login_form">
                  <input type="hidden" id="username" name="_username" value="{{ username }}">
                  <input type="hidden" id="password" name="_password" value="{{ password }}">             
                </form>
              </div>
            </div>
            <div class="panel panel-default lgin-panel">
              <div class="panel-body">
                <p class="txt-default" style="font-weight:bold">Logging you in securely...</p> 
              </div>
            </div>
        </div>
          <div class="col-lg-7 ft-game">
          <img src="{{ asset('bundles/anytvdashboard/images/warframe-cvr1.png') }}" alt="Warframe" />
          <p><strong>Warframe</strong> Countries: 235 <em>Active</em></p>
          <p style="font-size: 13px !important; font-family: Arial, Helvetica, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>            
          </div>
        </div>
      </div>
 </section>   
{% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if(form_action == 'login_check') %}   
  <script>
    $(function () 
    {
      $("#login_form").submit();
    });
  </script>
  {% endif %}
{% endblock %}
