{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Login{% endtrans %}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    
    <section id="networks">
        <div class="container">
          <div class="container-fluid">
            <div class="row-fluid 3col-bg">
              <div id="net-col1" class="col-lg-4 brdr-test">
                <h3>{{ title }}</h3>
                
                <div>
        
        {% if (error and last_username) %}
          <div>{{ last_username }} - {{ error.message }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post">
            
          <label for="username">Username:</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" />

          <label for="password">Password:</label>
          <input type="password" id="password" name="_password" />

    

          <button type="submit">login</button>
        </form>
        
    </div>
               
              </div>
                                   
            </div>
          </div>
        </div>
      </section>

    
    {{ parent() }}
   
{% endblock %}
