{% extends 'AnytvMainBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <h1 class="title">{{ title }}</h1>
    
    <p>&nbsp;</p>
    <div>
      {% if(app.session.get('news_keyword')) %}
        <a href="{{ path('news_reset') }}">reset</a>
      {% endif %}
      {{ form_start(form, {'action': path('news'), 'method': 'POST'}) }}
         {{ form_errors(form) }}
         {{ form_errors(form.news_keyword) }}
         {{ form_widget(form.news_keyword, {'attr': {'class': 'news_keyword_field'}}) }}
         {{ form_widget(form.search, {'attr': {'class': 'news_search_button'}}) }}
       {{ form_end(form) }}
    </div>

    <div class="symfony-blocks-welcome">
      <table border="1" cellspacing="15" cellpadding="15">
        <tr>
         <th>ID</th>
         <th>{% trans %}Title{% endtrans %}</th>
         <th>{% trans %}Excerpt{% endtrans %}</th>
         <th>{% trans %}Body{% endtrans %}</th>
         <th>{% trans %}Category{% endtrans %}</th>
         <th>{% trans %}Views{% endtrans %}</th>
         <th>{% trans %}Comments{% endtrans %}</th>
         <th>{% trans %}Thumbnail{% endtrans %}</th>
       </tr>
       {% for news_item in news %}
         <tr>
           <td>{{ news_item.id }}</td>
           <td><a href="{{ path('news_edit', { 'id' : news_item.id }) }}" title="Edit">{{ news_item.title }}</a></td>
           <td>{{ news_item.excerpt | slice(0, 50) }}</td>
           <td>{{ news_item.body | slice(0, 200) }}</td>
           <td>{{ news_item.category }}</td>
           <td>{{ news_item.viewCount }}</td>
           <td>{{ news_item.commentCount }}</td>
           {% if(news_item.thumbnail) %}
             <td><img src="{{ asset(news_item.getWebPath()) }}" alt="News thumbnail" style="width:100px" /></td>
           {%  else %}
             <td>&nbsp;</td>
           {% endif %}
         </tr>
       {% endfor %} 
      </table>
       
      {% if (total_pages > 1) %}
        <ul>
        {% for i in 1..total_pages %}
          {% if(page == i) %}
            <li>{{ i }}</li>
          {% else %}
            <li><a href="{{ path('news', {'page':i}) }}" title="{{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
        
    </div>

    <div class="symfony-blocks-help">
       
        <a href="{{ path('news_add') }}" title="{% trans %}Add{% endtrans %}">{% trans %}Add{% endtrans %}</a>
       
    </div>
{% endblock %}
