{% extends 'AnytvMainBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <h1 class="title">{{ title|upper }}</h1>
    
    <p>&nbsp;</p>

    <div class="symfony-blocks-welcome">
      <table border="1" cellspacing="15" cellpadding="15">
        <tr>
         <th>ID</th>
         <th>Title</th>
         <th>Excerpt</th>
         <th>Body</th>
       </tr>
       {% for news_item in news %}
         <tr>
           <td>{{ news_item.id }}</td>
           <td>{{ news_item.title }}</td>
           <td>{{ news_item.excerpt }}</td>
           <td>{{ news_item.body }}</td>
         </tr>
       {% endfor %} 
      </table>
       
       
        
    </div>

    <div class="symfony-blocks-help">
        
       
    </div>
{% endblock %}
