{% extends 'AnytvMainBundle::layout.html.twig' %}

{% block html %}
  <html xmlns:hx="http://purl.org/NET/hinclude">
{% endblock %}

{% block title %}{{ parent() }} - {% trans %}Home{% endtrans %}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    
    
    <section class="banner">
        <div class="container">
          <div class="container-fluid">
            <div class="row-fluid">
          		<div class="uptop">
                <div class="col-lg-5">
            			<h3>{% trans %}A new kind of YouTube Network{% endtrans %}</h3>
            			<p>{% trans %}Don’t unpartner from your YouTube Network{% endtrans %}</p>
                  <p><a href="{{ path('signup') }}" class="btn btn-primary btn-lg btn-join">{% trans %}Join any.TV{% endtrans %}</a></p>
                  <p><a href="{{ path('about') }}" class="btn btn-primary btn-lg btn-lrn">{% trans %}Learn more{% endtrans %}</a></p> 
                </div>
                <div class="col-lg-7">
                <div class="vid-yt">
            			<img src="{{ asset('bundles/anytvmain/images/mac-monitor.png') }}">            
                  <div class="yt-video">
                    <iframe src="http://www.youtube.com/embed/UCqJAZuvUS0?list=PLyI74zGGymu8k7eVhGPcVSh3nKljHfiVX&wmode=transparent" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          		</div>
            </div>
          </div>          
        </div>       
    	</section>
    	
     
     <div id="gameslist-block">
       {{ render_hinclude(controller('AnytvDashboardBundle:Offer:embed', {'page': 1})) }}
     </div>

      <section id="networks">
        <div class="container">
          <div class="container-fluid">
            <div class="row-fluid 3col-bg">
              <div id="net-col1" class="col-lg-4 brdr-test">
                <h3>George is Back!</h3>
                <p>As promised.</p>
                <p>I am the ex-President and founder of TGN, my old company that I sold to BroadbandTV in 2012. It was time for something new.</p>
                <p>Will you <b>help me</b> build any.TV together?</p>
                <a href="{{ path('staff') }}">Help George</a>    
                
                
              </div>
              <div id="net-col2" class="col-lg-4 brdr-test">
                <h3>Do Not Unpartner!</h3>
                <p>Really.</p>
                <p>You do not need to unpartner from your current Network to join any.TV.</p>
                <p>Why?</p>
                <p>Because we <b>don’t</b> partner channels.</p>
                <a href="{{ path('signup') }}">Join any.TV</a>    
                <p><img align="right" style="margin: 0;" src="{{ asset('bundles/anytvmain/images/anytv-blue-emblem.png') }}"></p> 
              </div>
              <div id="net-col3" class="col-lg-4 brdr-test">
                <h3>10% Lifetime Bonus!</h3>
                <p>Yes, we mean forever.</p>
                <p>any.TV pays you a 10% bonus of everything your referrals make, our way of saying “Thank You” for recommending any.TV to your friends and partners!</p>
                <p>This is <b>not</b> a pyramid scheme.</p>
                <a href="http://www.youtube.com/watch?v=Hs1Tq_Mi_Yg&list=PLyI74zGGymu8k7eVhGPcVSh3nKljHfiVX" target="_blank">Learn More</a>
                <p><img align="right" style="margin: 0;" src="{{ asset('bundles/anytvmain/images/anytv-blue-emblem.png') }}"></p>              
              </div>                        
            </div>
          </div>
        </div>
      </section>

      {{ parent() }}
    
{% endblock %}
     
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/anytvmain/js/hinclude.js') }}"></script>
  <script src="{{ asset('bundles/anytvdashboard/js/offers.js') }}"></script>
{% endblock %}


