{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div id="content">
  <div id="dboard-wrap">   
    <section class="sec-content-title">
      <div class="container">
        <div style="float: left;"><h3>{{ title|upper }}</h3></div>
	<div style="float: right;">&nbsp;</div>
      </div>
    </section>
      
    <section class="db-slide-1">
      <div class="container">
        <div class="row">
            
      {% if(app.session.get('affiliate_keyword') or app.session.get('affiliate_country')) %}
        <a href="{{ path('affiliates_reset') }}">reset</a>
      {% endif %}
      {{ form_start(form, {'action': path('affiliates'), 'method': 'POST', 'attr': {'class':'form-inline', 'role':'form'}}) }}
        
        <div class="input-group input-group-lg">
          {{ form_widget(form.affiliate_keyword, {'attr': {'class': 'form-control input-lg', 'placeholder':'Search Affiliates'}}) }}
          <span class="input-group-btn">
            {{ form_widget(form.affiliate_search, {'attr': {'class': 'btn btn-default btn-srch icon-search'}}) }}
	  </span>
        </div>
        
         <div class="f-lft">
	  <div class="form-group">					
	    {{ form_label(form.affiliate_status) }}
            {{ form_widget(form.affiliate_status, {'attr': {'class': 'selectpicker'}}) }}
	  </div>
          <div class="form-group">					
	    {{ form_label(form.affiliate_country) }}
            {{ form_widget(form.affiliate_country, {'attr': {'class': 'selectpicker'}}) }}
	  </div>       
          <div class="form-group">
            <div class="checkbox">
	    {{ form_label(form.affiliate_paypal) }}
            {{ form_widget(form.affiliate_paypal, {'attr': {'class': 'lbl-h'}}) }}
            </div>
	  </div> 
	</div>
        
   
         
       {{ form_end(form) }}
    <div class="cl-20"></div>
	  <hr>
          <div class="table-responsive">
	    <div class="offer-tbl-wrap">
	      <table class="table table-striped">                                                                        
                <thead>
        <tr>
         <th>{% trans %}Affiliate{% endtrans %} Id</th>
         <th>{% trans %}Company{% endtrans %}</th>
         <th>{% trans %}Country{% endtrans %}</th>
         <th>{% trans %}Date Added{% endtrans %}</th>
         <th>{% trans %}Paypal{% endtrans %}</th>
         <th>{% trans %}Signup IP{% endtrans %}</th>
         <th>{% trans %}Thumbnail{% endtrans %}</th>
         <th>{% trans %}Referred by{% endtrans %}</th>
       </tr>
        </thead>
       <tbody>
       {% for affiliate in affiliates %}
         <tr>
           <td>{{ affiliate.affiliateId }}</td>
           <td><a href="{{ path('affiliate_view', { 'id' : affiliate.id }) }}" title="View">{{ affiliate.company }}</a></td>
           {% if(affiliate.country) %}
             <td><a href="{{ path('country_view', { 'id' : affiliate.country.id }) }}" title="{% trans %}View{% endtrans %}">{{ affiliate.country }}</a></td>
           {% else %}
             <td>&nbsp;</td>
           {% endif %}
           <td>{{ affiliate.getDateAddedAsString() }}</td>
           <td>{{ affiliate.paypalEmail }}</td>
           <td>{{ affiliate.signupIp }}</td>
           {% if(affiliate.thumbnail) %}
             <td><img src="{{ asset(affiliate.getWebPath()) | apply_filter('profile_thumbnail') }}" alt="{{ affiliate.company }}" /></td>
           {%  else %}
             <td>&nbsp;</td>
           {% endif %}
           {% if(affiliate.referrer) %}
             <td><a href="{{ path('affiliate_view', { 'id' : affiliate.referrer.id }) }}" title="View">{{ affiliate.referrer.company }}</a></td>
           {%  else %}
             <td>&nbsp;</td>
           {% endif %}
         </tr>
       {% endfor %} 
         </tbody>
         
         {% if (total_pages > 1) %}
        <tfoot>
	  <tr>
	    <td class="al-cntr" colspan="8">
	      <ul class="pagination">
                  {% if(page > 1) %}
          <li><a href="{{ path('affiliates', {'page':(page-1)}) }}"  title="{{ (page-1) }}">&laquo;</a></li>
        {% endif %}
        {% for i in 1..total_pages if((page-i)|abs < 8) %}
          {% if(page == i) %}
            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="{{ path('affiliates', {'page':i}) }}" title="{{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if(page < total_pages) %}
          <li><a href="{{ path('affiliates', {'page':(page+1)}) }}" title="{{ (page+1) }}">&raquo;</a></li>
        {% endif %}
        </ul>
        </td>
        </tr>
      </tfoot>
      {% endif %}
         
      </table>
       
     
      
          
          
      </div>
						</div>
					</div>
				</div>

			</section>

		</div>
	</div>

    {{ parent() }}
    
        
    
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(window).on('load', function () {

        $('.selectpicker').selectpicker({
            'selectedText': ''
        });

    });
</script>
{% endblock %}