{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <h1 class="title">{{ title }}</h1><span>{{ max_affiliate_id }}</span>
    
    <p>&nbsp;</p>
    <div style="margin-bottom: 20px">
      {% if(app.session.get('affiliate_keyword') or app.session.get('affiliate_country')) %}
        <a href="{{ path('affiliates_reset') }}">reset</a>
      {% endif %}
      {{ form_start(form, {'action': path('affiliates'), 'method': 'POST'}) }}
         {{ form_errors(form) }}
         {{ form_errors(form.affiliate_keyword) }}
         {{ form_widget(form.affiliate_keyword, {'attr': {'class': 'affiliate_keyword_field'}}) }}
         {{ form_label(form.affiliate_country) }}
         {{ form_errors(form.affiliate_country) }}
         {{ form_widget(form.affiliate_country, {'attr': {'class': 'affiliate_country_field'}}) }}
         {{ form_label(form.affiliate_status) }}
         {{ form_errors(form.affiliate_status) }}
         {{ form_widget(form.affiliate_status, {'attr': {'class': 'affiliate_status_field'}}) }}
         {{ form_widget(form.affiliate_search) }}
         {{ form_widget(form.affiliate_update) }}
       {{ form_end(form) }}
    </div>

    <div class="symfony-blocks-welcome">
      <table border="1" cellspacing="15" cellpadding="15">
        <tr>
         <th>Id</th>
         <th>{% trans %}Affiliate{% endtrans %} Id</th>
         <th>{% trans %}Company{% endtrans %}</th>
         <th>{% trans %}Region{% endtrans %}</th>
         <th>{% trans %}Country{% endtrans %}</th>
         <th>{% trans %}Date Added{% endtrans %}</th>
         <th>{% trans %}Thumbnail{% endtrans %}</th>
       </tr>
       {% for affiliate in affiliates %}
         <tr>
           <td>{{ affiliate.id }}</td>
           <td>{{ affiliate.affiliateId }}</td>
           <td><a href="{{ path('affiliate_view', { 'id' : affiliate.id }) }}" title="Edit">{{ affiliate.company }}</a></td>
           <td>{{ affiliate.region }}</td>
           {% if(affiliate.country) %}
             <td><a href="{{ path('country_view', { 'id' : affiliate.country.id }) }}" title="{% trans %}View{% endtrans %}">{{ affiliate.country }}</a></td>
           {% else %}
             <td>&nbsp;</td>
           {% endif %}
           <td>{{ affiliate.getDateAddedAsString() }}</td>
           {% if(affiliate.thumbnail) %}
             <td><img src="{{ asset(affiliate.getWebPath()) }}" alt="{{ affiliate.company }}" style="width:100px" /></td>
           {%  else %}
             <td>&nbsp;</td>
           {% endif %}
         </tr>
       {% endfor %} 
      </table>
       
      {% if (total_pages > 1) %}
        <ul>
        {% for i in 1..total_pages %}
          {% if(page == i) %}
            <li>{{ i }}</li>
          {% else %}
            <li><a href="{{ path('affiliates', {'page':i}) }}" title="{{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
        
    </div>

    
{% endblock %}
