{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <h1 class="title">{{ title }}</h1>
    <p>Dashboard.TM ID: {{ affiliate.affiliateId }}</p>
    
    <div class="symfony-blocks-welcome">
       
       {{ affiliate.getFullAddress() }}
       
        
    </div>

    <div class="symfony-blocks-help">
        
       
    </div>
{% endblock %}
