{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}



<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <em><a href="{{ path('affiliate_edit', { 'id' : affiliate.id }) }}" title="{% trans %}Edit{% endtrans %}">{% trans %}edit{% endtrans %}</a></em>
    
    <h1 class="title">{{ title }}<p>dashboard.tm ID: {{ affiliate.affiliateId }} - ({{ affiliate_status }})</p></h1>
    
    {% if(affiliate.thumbnail) %}
      <img src="{{ asset(affiliate.getWebPath()) | apply_filter('profile_thumbnail') }}" alt="{{ affiliate.company }}" />
    {% endif %}
    
   
      <ul>
        <li style="display:block">{% trans %}Address{% endtrans %}: {{ affiliate.getFullAddress() }}</li>
        <li style="display:block">{% trans %}Country{% endtrans %}: {% if(affiliate.country) %}<a href="{{ path('country_view', { 'id' : affiliate.country.id }) }}" title="{% trans %}View{% endtrans %}">{{ affiliate.country.name }}</a>{% else %}&nbsp;{% endif %}</li>
        {% if(affiliate.other) %}
          <li style="display:block">{% trans %}Other{% endtrans %}: {{ affiliate.other }}</li>
        {% endif %}
        <li style="display:block">{% trans %}Phone{% endtrans %}: {{ affiliate.phone }}</li>
        <li style="display:block">{% trans %}Fax{% endtrans %}: {{ affiliate.fax }}</li>
        <li style="display:block">{% trans %}Paypal Email{% endtrans %}: {{ affiliate.paypalEmail }}</li>
        <li style="display:block">{% trans %}Signup IP{% endtrans %}: {{ affiliate.signupIp }}</li>
      </ul>
            
      {% if(affiliate_users) %}
        <h2>Users:</h2>
        <ul>
          {% for affiliate_user in affiliate_users %}
            <li style="display:block">
              {% if(affiliate_user.getFullName()) %}
                <a href="{{ path('affiliate_user_view', { 'id' : affiliate_user.id }) }}" title="View">{{ affiliate_user.getFullName() }}</a>
              {% else %}
                <a href="{{ path('affiliate_user_view', { 'id' : affiliate_user.id }) }}" title="View">{{ affiliate_user.email }}</a>
              {% endif %}
              ({{ affiliate_user.email }})
              
              - {{ affiliate_user.status }} - is creator = {{ affiliate_user.isCreator }}
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
      {% if(traffic_referrals|length) %}
        <h2>Traffic Referrals: ({{ traffic_referrals|length }})</h2>
        <ul>
          {% for traffic_referral in traffic_referrals %}
            <li style="display:block">
              <a href="{{ path('offer_view', { 'id' : traffic_referral.offer.id }) }}" title="{{ traffic_referral.offer }}">{{ traffic_referral.offer }}</a> - 
              <a href="{{ traffic_referral.url }}" target="_blank" title="{{ traffic_referral.url }}">{{ traffic_referral.url|slice(0, 60) }}</a> -
              {{ traffic_referral.getStatDateAsString() }}
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
      <div class="cl-20"></div>
      </div>
      
		</div>
	</div>
</section>



    {{ parent() }}
    
    
{% endblock %}
