{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <em><a href="{{ path('profile_view') }}" title="{% trans %}View{% endtrans %}">{% trans %}view{% endtrans %}</a></em>
    
    <p>&nbsp;</p>

    <div class="symfony-blocks-welcome">
       
       {{ form_start(form, {'action': path('profile_edit'), 'method': 'POST'}) }}
          
         {{ form_errors(form) }}
        
         {{ form_row(form.title) }}
         {{ form_row(form.firstName) }}
         {{ form_row(form.lastName) }}
         {{ form_row(form.phone) }}
         {{ form_row(form.cellPhone) }}
        
       {{ form_end(form) }}
       
        
    </div>

    <div class="symfony-blocks-help">
        
       
    </div>
{% endblock %}
