{% if(affiliate and affiliate_user) %}
<div id="user-db">
  <div class="panel panel-default user-panel">
    <div class="panel-heading"></div>
    <div class="user-pic">	
      {% if(affiliate.thumbnail) %}
        <img src="{{ asset(affiliate.getWebPath()) | apply_filter('profile_thumbnail') }}" alt="{{ affiliate.company }}" />
      {% else %}
        <img src="{{ asset('bundles/anytvdashboard/images/default-user-photo.png') }}">
      {% endif %}
    </div>
    <div class="panel-body">
      <h3><span>{{ affiliate_user }}</span></h3>
      <div class="user-det">
        <p>{% trans %}Refer-a-Friend link{% endtrans %}:</p>
        <input id="ref-lnk" type="text" class="form-control" value="{{ url('signup', { 'id': affiliate.affiliateId }) }}" title="{{ url('signup', { 'id': affiliate.affiliateId }) }}" disabled>								
	<a id="cpy-ref-btn" class="btn btn-default">{% trans %}Copy Link{% endtrans %}</a>
      </div>
    </div>
    
    <div id="user-menus">
      <ul class="nav nav-pills nav-stacked">
	<li {% if(page == 'profile') %}class="active"{% endif %}><a href="{{ path('profile_view') }}">{% trans %}My Profile{% endtrans %}</a></li>
	<li {% if(page == 'home') %}class="active"{% endif %}><a href="{{ path('anytv_dashboard_homepage') }}">{% trans %}Offers{% endtrans %}</a></li>
        <li {% if(page == 'reports') %}class="active"{% endif %}><a href="{{ path('profile_reports') }}">{% trans %}Reports{% endtrans %}</a></li>
      </ul>
    </div>
  </div> 
</div>			
{% endif %}