{% if(affiliate and affiliate_user) %}
<div id="user-db">
  <div class="panel panel-default user-panel">
    <div class="panel-heading"></div>
    <div class="user-pic">	
      {% if(affiliate.thumbnail) %}
        <img src="{{ asset(affiliate.getWebPath()) | apply_filter('profile_thumbnail') }}" alt="{{ affiliate.company }}" />
      {% else %}
        <img src="{{ asset('bundles/anytvdashboard/images/default-user-photo.png') }}">
      {% endif %}
    </div>
    <div class="panel-body">
      <h3><span>{{ affiliate_user }}</span></h3>
      <div class="user-det">
        <p>{% trans %}Your Refer-a-Friend link{% endtrans %}:</p>
        <input id="ref-lnk" type="text" class="form-control" value="{{ url('signup', { 'id': affiliate.affiliateId }) }}" title="{{ url('signup', { 'id': affiliate.affiliateId }) }}" disabled>								
	<a id="cpy-ref-btn" class="btn btn-default">{% trans %}Copy Link{% endtrans %}</a>
        <h4>{% trans %}Your commission rate{% endtrans %}: {{ commission_rate_percent }}%</h4>
      </div>
    </div>
    
    <div id="user-menus">
      <ul class="nav nav-pills nav-stacked">
	<li {% if(page == 'profile') %}class="active"{% endif %}><a href="{{ path('profile_view') }}" title="{% trans %}My Profile{% endtrans %}">{% trans %}My Profile{% endtrans %}</a></li>
	<li {% if(page == 'home') %}class="active"{% endif %}><a href="{{ path('anytv_dashboard_homepage') }}" title="{% trans %}Offers{% endtrans %}">{% trans %}Offers{% endtrans %}</a></li>
        <li {% if(page == 'reports') %}class="active"{% endif %}><a href="{{ path('profile_reports') }}" title="{% trans %}Reports{% endtrans %}">{% trans %}Reports{% endtrans %}</a></li>
        <li {% if(page == 'traffic') %}class="active"{% endif %}><a href="{{ path('profile_traffic') }}" title="{% trans %}My Traffic{% endtrans %}">{% trans %}My Traffic{% endtrans %}</a></li>
        <li {% if(page == 'videos') %}class="active"{% endif %}><a href="{{ path('profile_videos') }}" title="{% trans %}Videos{% endtrans %}">{% trans %}Videos{% endtrans %}</a></li>
      </ul>
    </div>
  </div> 
</div>			
{% endif %}