<div id="pane1" class="tab-pane active">
  <div id="user-content-offers">
    {{ form_start(form, {'action': path('profile_reports_referrals'), 'method': 'POST' }) }}
      {{ form_row(form.referral_hide_zeros, {'attr': {'class': 'lbl-h', 'onclick':"submitForm(this.form, this.form.action)" }}) }}
      {{ form_row(form.referral_start_date, {'attr': {'onchange':"submitForm(this.form, this.form.action)" }, 'style':'width:20%' }) }}
      {{ form_row(form.referral_end_date, {'attr': {'onchange':"submitForm(this.form, this.form.action)" }}) }}
    {{ form_end(form) }}
      
      <a href="{{ path('profile_reports_referrals_export_csv') }}" class="btn btn-default btn-lg" title="{% trans %}Export CSV{% endtrans %}">{% trans %}Export CSV{% endtrans %}</a>
      
      <script type="text/javascript">
        $(document).ready(function() {
          $('.date').datepicker({ dateFormat: 'yy-mm-dd' })
        });
      </script>
      
    <div class="search-btns">				
      
        
      
	  
	
         <div class="rfrsh-wrap">
      <a href="javascript:void(0)" onclick="showTab('{{ path('profile_reports_referrals') }}');" class="btn btn-default btn-lg"><i class="icon-refresh"></i></a>
    </div>
      														
    </div>
    
    
    
          
    
  </div>
  <div class="cl-20"></div>
  <div class="progress progress-striped active" id="profile-tabs-progress-bar" style="display:none">
    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>												
  <div class="table-responsive" id="profile-tab-results">
    <div class="offer-tbl-wrap">
      {% if(referrals) %}
      <table class="table table-striped">							
        <thead>
          <tr>
            <th>{% trans %}Time{% endtrans %}</th>
            <th>{% trans %}Affiliate{% endtrans %}</th>
	    <th>{% trans %}Your commission{% endtrans %}</th>
            <th>{% trans %}Their earnings{% endtrans %}</th>
          </tr>
	</thead>								
        <tbody>
          {% for referral in referrals %}
	  <tr>
            <td>{{ referral.getDateAsString() }}</td>
            <td>{{ referral.referred }}</td>
            <td>${{ referral.amount }}</td>
            <td>${{ referral.total }}</td>
	  </tr>
          {% endfor %}
          {% if (total_pages > 1) %}
            <tfoot>
            <tr>
	    <td class="al-cntr" colspan="6">
	    <ul class="pagination">
            {% if(page > 1) %}
              <li><a href="javascript:void(0)" onclick="showTab('{{ path('profile_reports_referrals', {'page':(page-1)}) }}');" title="{{ (page-1) }}">&laquo;</a></li>
            {% endif %}
            {% for i in 1..total_pages if((page-i)|abs < 8) %}
              {% if(page == i) %}
                <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="javascript:void(0)" onclick="showTab('{{ path('profile_reports_referrals', {'page':i}) }}');" title="{{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if(page < total_pages) %}
              <li><a href="javascript:void(0)" onclick="showTab('{{ path('profile_reports_referrals', {'page':(page+1)}) }}');" title="{{ (page+1) }}">&raquo;</a></li>
            {% endif %}
            </ul>
            </ul>
            </td>                                               
            </tr>
            </tfoot>    
          {% endif %}
	</tbody>
      </table>
      {% endif %}
    </div>
  </div>				    	
</div>




			
			
		
		

		
		
						
					