<div id="pane1" class="tab-pane active">
  <div class="row">
    <div class="col-lg-8">
      <div class="f-lft">
        {% if(mode == 'view') %}
          <h3>{% trans %}Password successfully changed.{% endtrans %}</h3>
        {% elseif(mode == 'edit') %}
          <h3>{% trans %}Password{% endtrans %}</h3>
        {% endif %}
      </div>
        
      <div class="cl-20"></div>
      <hr>
      
      {% for error in errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{ error }}</strong>
        </div>
      {% endfor %}
      
      {% if(mode == 'edit') %}
      
      <div id="form-row-style">
      {{ form_start(form, {'action': path('profile_view', { 'mode' : 'edit', 'tab' : 'password' }), 'method': 'POST'}) }}    
      
      {{ form_errors(form) }}
      {{ form_row(form.new_password, {'attr': {'class': 'form-control input-lg'}}) }}
      <div class="cl-20"></div>
      {{ form_row(form.confirm_password, {'attr': {'class': 'form-control input-lg'}}) }}
      <div class="cl-20"></div>
      {{ form_row(form.change, {'attr': {'class': 'btn btn-default btn-lg'}}) }}
        
      {{ form_end(form) }}
      </div>
      {% endif %}
    </div>

  </div>
</div>
                  
            
            
                
                
      
                 
      
                