<div id="pane1" class="tab-pane active">
  <div class="row">
    <div class="col-lg-8">
      <div class="f-lft">
        <h3>{% trans %}User Details{% endtrans %}</h3>
      </div>
      
      {% if(mode == 'view') %}
        <a href="{{ path('profile_view', { 'tab': 'user', 'mode': 'edit' }) }}" title="{% trans %}edit{% endtrans %}" style="float: right" class="btn btn-default">{% trans %}edit{% endtrans %}</a>
      {% endif %}
        
      <div class="cl-20"></div>
      <hr>
      
      {% if(mode == 'view') %}
      
      <div id="user-prof-name">
        <label>{% trans %}Name{% endtrans %}</label>					 										    
	<input type="text" class="form-control input-lg" value="{{ affiliate_user.getFullName() }}" disabled>
	<div class="cl-20"></div>
	<label>{% trans %}Email{% endtrans %}</label>					 										    
	<input type="text" class="form-control input-lg" value="{{ affiliate_user.email }}" disabled>									
      </div>
      <div class="cl-20"></div> 										    									    							
      <div id="user-prof-phone">
        <label>
          {% trans %}Phone{% endtrans %} 
          <div class="input-group input-group-lg">	
	    <input type="text" class="form-control" value="{{ affiliate_user.phone }}" disabled>
          </div>
	</label>
      </div> 
      <div id="user-prof-phone">
        <label>
          {% trans %}Mobile{% endtrans %} 
          <div class="input-group input-group-lg">										    
	    <input type="text" class="form-control" value="{{ affiliate_user.cellPhone }}" disabled>
          </div>
	</label>
      </div>
      <div id="user-prof-name">
        <label>{% trans %}Date Joined{% endtrans %}</label>					 										    
	<input type="text" class="form-control input-lg" value="{{ affiliate_user.getDateJoinedAsString() }}" disabled>								
      </div>
      
      {% elseif(mode == 'edit') %}
      
      {{ form_start(form, {'action': path('profile_view', { 'mode' : 'edit', 'tab' : 'user' }), 'method': 'POST'}) }}    
      
      {{ form_errors(form) }}
      {{ form_row(form.title) }}
      {{ form_row(form.firstName) }}
      {{ form_row(form.lastName) }}
      {{ form_row(form.phone) }}
      {{ form_row(form.cellPhone) }}
        
      {{ form_end(form) }}
      
      {% endif %}
    </div>

  </div>
</div>

{% if(false) %}
  
  
  <h3>{% trans %}User Details{% endtrans %}</h3>
      
    
    <h3>{{ affiliate_user }}<p>{% trans %}dashboard.tm ID{% endtrans %}: {{ affiliate_user.affiliateUserId }} - ({{ affiliate_user_status }})</p></h3>
    
    
{% endif %}
                  
            
            
                
                
      
                 
      
                