{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <em><a href="{{ path('affiliate_user_edit', { 'id' : affiliate_user.id }) }}" title="{% trans %}Edit{% endtrans %}">{% trans %}edit{% endtrans %}</a></em>
    
    <h1 class="title">{{ title }}<p>dashboard.tm user ID: {{ affiliate_user.affiliateUserId }} - ({{ affiliate_status }})</p></h1>
    
    <div class="symfony-blocks-welcome">
      <ul>
        <li style="display:block">{% trans %}Name{% endtrans %}: {{ affiliate_user.getFullName() }}</li>
        <li style="display:block">{% trans %}Email{% endtrans %}: {{ affiliate_user.email }}</li>
        <li style="display:block">{% trans %}Affiliate{% endtrans %}: <a href="{{ path('affiliate_view', { 'id' : affiliate.getId() }) }}" title="{{ affiliate.company }}">{{ affiliate.company }}</a></li>
        <li style="display:block">{% trans %}Phone{% endtrans %}: {{ affiliate_user.phone }}</li>
        <li style="display:block">{% trans %}Mobile{% endtrans %}: {{ affiliate_user.cellPhone }}</li>
        <li style="display:block">{% trans %}Date Joined{% endtrans %}: {{ affiliate_user.getDateJoinedAsString() }}</li>
        <li style="display:block">{% trans %}Admin{% endtrans %}: {{ affiliate_user.isAdmin }}</li>
      </ul>
            
    </div>

    <div class="symfony-blocks-help">
        
       
    </div>
{% endblock %}
