{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <em><a href="{{ path('affiliate_user_edit', { 'id' : affiliate_user.id }) }}" title="Edit">edit</a></em>
    
    <h1 class="title">{{ title }}<p>dashboard.tm user ID: {{ affiliate_user.affiliateUserId }} - ({{ affiliate_user.status }})</p></h1>
    
    {% if(affiliate_user.thumbnail) %}
      <img src="{{ asset(affiliate_user.getWebPath()) }}" alt="{{ affiliate_user.getFullName() }}" style="width:100px" />
    {% endif %}
    
    <div class="symfony-blocks-welcome">
      <ul>
        <li style="display:block">Name: {{ affiliate_user.getFullName() }}</li>
        <li style="display:block">Email: {{ affiliate_user.email }}</li>
        <li style="display:block">Affiliate: <a href="{{ path('affiliate_view', { 'id' : affiliate.getId() }) }}" title="{{ affiliate.company }}">{{ affiliate.company }}</a></li>
        <li style="display:block">Phone: {{ affiliate_user.phone }}</li>
        <li style="display:block">Mobile: {{ affiliate_user.cellPhone }}</li>
        <li style="display:block">Date joined: {{ affiliate_user.getDateJoinedAsString() }}</li>
      </ul>
            
    </div>

    <div class="symfony-blocks-help">
        
       
    </div>
{% endblock %}
