{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div id="content">
  <div id="dboard-wrap">   
    <section class="sec-content-title">
      <div class="container">
        <div style="float: left;"><h3>{{ title }} - {{ offer }}</h3></div>
	<div style="float: right;"><em><a href="{{ path('offer_view', { 'id' : offer.id }) }}" class="btn btn-default" title="{% trans %}View{% endtrans %}">{% trans %}view{% endtrans %}</a></em></div>
      </div>
    </section>
      
    <section class="db-slide-1">
      <div class="container">
        <div class="row">
    
       
       {{ form_start(form, {'action': path('offer_edit', { 'id' : offer.id }), 'method': 'POST'}) }}
          
         {{ form_errors(form) }}
        
         
         {{ form_row(form.description, {'attr': {'class': 'form-control input-lg'}}) }}
         <div class="cl-20"></div>
         {{ form_row(form.isFeatured, {'attr': {'class': 'selectpicker'}}) }}
         <div class="cl-20"></div>
         {{ form_row(form.save, {'attr': {'class': 'btn btn-default btn-lg'}}) }}
       {{ form_end(form) }}
       
      <div class="cl-20"></div>
      </div>
      
		</div>

			</section>

		</div>
	</div>

    {{ parent() }}
    
        
    
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(window).on('load', function () {

        $('.selectpicker').selectpicker({
            'selectedText': ''
        });

    });
</script>
{% endblock %}