{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <h1 class="title">{{ title|upper }}</h1>
    
    <p>&nbsp;</p>

    <div class="symfony-blocks-welcome">
       
       {{ form_start(form, {'action': path('offer_edit', { 'id' : offer.id }), 'method': 'POST'}) }}
          
         {{ form_errors(form) }}
        
         {{ form_row(form.name) }}
         {{ form_row(form.description) }}
         {{ form_row(form.advertiser) }}
         {{ form_row(form.offerUrl) }}
         {{ form_row(form.previewUrl) }}
         {{ form_row(form.status) }}
         {{ form_row(form.expirationDate) }}
         {{ form_row(form.is_private) }}
         {{ form_row(form.require_approval) }}
         {{ form_row(form.require_terms_and_conditions) }}
         {{ form_row(form.terms_and_conditions) }}
       {{ form_end(form) }}
       
        
    </div>

    <div class="symfony-blocks-help">
        
       
    </div>
{% endblock %}
