{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <section id="networks">
        <div class="container">
          <div class="container-fluid">
            <div class="row-fluid 3col-bg">
              <div id="net-col1" class="col-lg-4 brdr-test">
                <h3>{{ title }}</h3>
                               
              </div>
                    
              <div style="margin-bottom: 20px">
      {% if(app.session.get('offer_keyword')) %}
        <a href="{{ path('offers_reset') }}">reset</a>
      {% endif %}
      {{ form_start(form, {'action': path('offers'), 'method': 'POST'}) }}
         {{ form_errors(form) }}
         {{ form_errors(form.offer_keyword) }}
         {{ form_widget(form.offer_keyword, {'attr': {'class': 'offer_keyword_field'}}) }}
         {{ form_label(form.offer_status) }}
         {{ form_errors(form.offer_status) }}
         {{ form_widget(form.offer_status, {'attr': {'class': 'offer_status_field'}}) }}
         {{ form_widget(form.offer_search) }}
         {{ form_widget(form.offer_update) }}
       {{ form_end(form) }}
    </div>
                    
             <table border="1" cellspacing="15" cellpadding="15">
        <tr>
         <th>ID</th>
         <th>{% trans %}Offer{% endtrans %}</th>
         <th>{% trans %}Advertiser{% endtrans %}</th>
         <th>{% trans %}Preview{% endtrans %}</th>
         <th>{% trans %}Thumbnail{% endtrans %}</th>
       </tr>
       {% for offer in offers %}
         <tr>
           <td>{{ offer.offerId }}</td>
           <td><a href="{{ path('offer_view', { 'id' : offer.id }) }}" title="{% trans %}View{% endtrans %}">{{ offer.name }}</a></td>
           {% if(offer.advertiser) %}
             <td><a href="{{ path('advertiser_view', { 'id' : offer.advertiser.id }) }}" title="{% trans %}View{% endtrans %}">{{ offer.advertiser }}</a></td>
           {% else %}
             <td>&nbsp;</td>
           {% endif %}
           <td><a href="{{ offer.previewUrl }}" target="_blank">{% trans %}preview{% endtrans %}</a></td>
           {% if(offer.thumbnail) %}
             <td><img src="{{ asset(offer.getWebPath()) }}" alt="{{ offer.name }}" style="width:100px" /></td>
           {%  else %}
             <td>&nbsp;</td>
           {% endif %}
         </tr>
       {% endfor %} 
      </table>
       
      {% if (total_pages > 1) %}
        <ul>
        {% for i in 1..total_pages %}
          {% if(page == i) %}
            <li>{{ i }}</li>
          {% else %}
            <li><a href="{{ path('offers', {'page':i}) }}" title="{{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
                    
            </div>
          </div>
        </div>
      </section>

    {{ parent() }}
    
    
    
    

    
      
        
    

    
{% endblock %}
