{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div id="content">
  <div id="dboard-wrap">   
    <section class="sec-content-title">
      <div class="container">
        <div style="float: left;"><h3>{{ title|upper }}</h3></div>
	<div style="float: right;">&nbsp;</div>
      </div>
    </section>
      
    <section class="db-slide-1">
      <div class="container">
        <div class="row">
            
      {% if(app.session.get('offer_keyword')) %}
        <a href="{{ path('offers_reset') }}">reset</a>
      {% endif %}
      {{ form_start(form, {'action': path('offers'), 'method': 'POST', 'class':'form-inline', 'role':'form'}) }}
        
         <div class="input-group input-group-lg">
          {{ form_widget(form.offer_keyword, {'attr': {'class': 'form-control input-lg', 'placeholder':'Search Offers'}}) }}
          <span class="input-group-btn">
            {{ form_widget(form.offer_search, {'attr': {'class': 'btn btn-default btn-srch icon-search'}}) }}
	  </span>
        </div>
        
        <div class="f-lft">
	  <div class="form-group">
            					
	  {{ form_label(form.offer_status) }}
            
          {{ form_widget(form.offer_status, {'attr': {'class': 'selectpicker'}}) }}
	  </div>						
	</div>
        
         
         
       {{ form_end(form) }}
    
      <div class="cl-20"></div>
	  <hr>
          <div class="table-responsive">
	    <div class="offer-tbl-wrap">
	      <table class="table table-striped">                                                                        
                <thead>
        <tr>
         <th>ID</th>
         <th>{% trans %}Offer{% endtrans %}</th>
         <th>{% trans %}Advertiser{% endtrans %}</th>
         <th>{% trans %}Preview{% endtrans %}</th>
         <th>{% trans %}Countries{% endtrans %}</th>
       </tr>
       </thead>
       <tbody>
       {% for offer in offers %}
         <tr>
           <td>{{ offer.offerId }}</td>
           <td><a href="{{ path('offer_view', { 'id' : offer.id }) }}" title="{% trans %}View{% endtrans %}">{{ offer.name }}</a></td>
           {% if(offer.advertiser) %}
             <td><a href="{{ path('advertiser_view', { 'id' : offer.advertiser.id }) }}" title="{% trans %}View{% endtrans %}">{{ offer.advertiser }}</a></td>
           {% else %}
             <td>&nbsp;</td>
           {% endif %}
           <td><a href="{{ offer.previewUrl }}" target="_blank">{% trans %}preview{% endtrans %}</a></td>
           <td>{{ offer.countryCount }}</td>
         </tr>
       {% endfor %} 
       </tbody>  
       
       {% if (total_pages > 1) %}
        <tfoot>
	  <tr>
	    <td class="al-cntr" colspan="8">
	      <ul class="pagination">
                  {% if(page > 1) %}
          <li><a href="{{ path('offers', {'page':(page-1)}) }}"  title="{{ (page-1) }}">&laquo;</a></li>
        {% endif %}
        {% for i in 1..total_pages if((page-i)|abs < 8) %}
          {% if(page == i) %}
            <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="{{ path('offers', {'page':i}) }}" title="{{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if(page < total_pages) %}
          <li><a href="{{ path('offers', {'page':(page+1)}) }}" title="{{ (page+1) }}">&raquo;</a></li>
        {% endif %}
        </ul>
        </td>
        </tr>
      </tfoot>
      {% endif %}
      
        
      </table>
       
      
    
      
    
    
      </div>
						</div>
					</div>
				</div>

			</section>

		</div>
	</div>

    {{ parent() }}
    
        
    
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(window).on('load', function () {

        $('.selectpicker').selectpicker({
            'selectedText': ''
        });

    });
</script>
{% endblock %}