{% extends 'AnytvMainBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Login{% endtrans %}{% endblock %}
     
{% block content_header '' %}

{% block submenu '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ parent() }}
    <h1 class="title">{{ title }}</h1>
    
    <p>&nbsp;</p>

    <div class="symfony-blocks-welcome">
        
        {% if (error and last_username) %}
          <div>{{ last_username }} - {{ error.message }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post">
            
          <label for="username">Username:</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" />

          <label for="password">Password:</label>
          <input type="password" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

          <button type="submit">login</button>
        </form>
        
    </div>

    <div class="symfony-blocks-help">
        
       
    </div>
{% endblock %}
