{% extends 'AnytvDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title}}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title">{{ title }}</h1>
    
    
      <ul>
        <li style="display:block">{% trans %}Name{% endtrans %}: {{ country.name }}</li>
        <li style="display:block">{% trans %}Code{% endtrans %}: {{ country.code }}</li>
      </ul>
            
      {% if(regions|length) %}
        <h2>{% trans %}Regions{% endtrans %}: ({{ regions|length }})</h2>
        <ul>
          {% for region in regions %}
            <li style="display:block">
              {{ region.name }}
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
        
      {% if(advertisers|length) %}
        <h2>{% trans %}Advertisers{% endtrans %}: ({{ advertisers|length }})</h2>
        <ul>
          {% for advertiser in advertisers %}
            <li style="display:block">
              <a href="{{ path('advertiser_view', { 'id' : advertiser.id }) }}" title="{% trans %}Edit{% endtrans %}">{{ advertiser.company }}</a>
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
        
      {% if(active_affiliates|length) %}
        <h2>{% trans %}Active Affiliates{% endtrans %}: ({{ active_affiliates|length }})</h2>
        <ul>
          {% for affiliate in active_affiliates %}
            <li style="display:block">
              <a href="{{ path('affiliate_view', { 'id' : affiliate.id }) }}" title="{% trans %}View{% endtrans %}">{{ affiliate.company }}</a>
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
        
      {% if(pending_affiliates|length) %}
        <h2>{% trans %}Pending Affiliates{% endtrans %}: ({{ pending_affiliates|length }})</h2>
        <ul>
          {% for affiliate in pending_affiliates %}
            <li style="display:block">
              <a href="{{ path('affiliate_view', { 'id' : affiliate.id }) }}" title="{% trans %}View{% endtrans %}">{{ affiliate.company }}</a>
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
        
      {% if(deleted_affiliates|length) %}
        <h2>{% trans %}Deleted Affiliates{% endtrans %}: ({{ deleted_affiliates|length }})</h2>
        <ul>
          {% for affiliate in deleted_affiliates %}
            <li style="display:block">
              <a href="{{ path('affiliate_view', { 'id' : affiliate.id }) }}" title="{% trans %}View{% endtrans %}">{{ affiliate.company }}</a>
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
        
      {% if(blocked_affiliates|length) %}
        <h2>{% trans %}Blocked Affiliates{% endtrans %}: ({{ blocked_affiliates|length }})</h2>
        <ul>
          {% for affiliate in blocked_affiliates %}
            <li style="display:block">
              <a href="{{ path('affiliate_view', { 'id' : affiliate.id }) }}" title="{% trans %}View{% endtrans %}">{{ affiliate.company }}</a>
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
        
      {% if(rejected_affiliates|length) %}
        <h2>{% trans %}Rejected Affiliates{% endtrans %}: ({{ rejected_affiliates|length }})</h2>
        <ul>
          {% for affiliate in rejected_affiliates %}
            <li style="display:block">
              <a href="{{ path('affiliate_view', { 'id' : affiliate.id }) }}" title="{% trans %}View{% endtrans %}">{{ affiliate.company }}</a>
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
        
      {% if(offers|length) %}
        <h2>{% trans %}Offers{% endtrans %}: ({{ offers|length }})</h2>
        <ul>
          {% for offer in offers %}
            <li style="display:block">
              <a href="{{ path('offer_view', { 'id' : offer.id }) }}" title="{% trans %}View{% endtrans %}">{{ offer.name }}</a>
            </li> 
          {% endfor %}
        </ul>
      {% endif %}
      <div class="cl-20"></div>
      </div>
      
		</div>
	</div>
</section>

    {{ parent() }}
    
    
        
   
{% endblock %}
